* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color:white;
}

main {
  height: 100vh;
  background-image: url(./img/rock-paper-scissor-ft-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.container {
  height: 60%;
  width: 60%;
  margin: auto auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(139, 87, 42, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 58px 0px rgba(110, 70, 47, 0.75);
  -webkit-box-shadow: 0px 0px 58px 0px rgba(110, 70, 47, 0.75);
  -moz-box-shadow: 0px 0px 58px 0px rgba(110, 70, 47, 0.75);
}

.score_container{
    margin-top: 30px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px 20px;

}

button{
    border: none;
    font-size: 150px;
    background-color:transparent;
    cursor: pointer;
    
}
i{
    color:chocolate;
    padding: 20px;
}

.comp_choice, .result{
    font-weight: bold;
}

 .comp_choice2{
  color:rgb(255, 106, 0);
  font-weight: bolder;
  font-size: 22px;
}

.result2{
  color:red;
  font-weight: bold;
  font-size: 22px;
}